{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block titulo %}  {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
	<script src="{% static 'js/vendor/modernizr.js' %}"></script>
</head>
<body style="margin:20px">
{% include 'menu.html' %}

{% block content %}

{% endblock %}

<br>
<br>
<!-- rodapé -->
<footer class="row">
	<hr>
	<div class="columns large-6 medium-6"> 
	<p>Site do Curso de Sistemas para Internet</p>
	</div>
	<div class="columns large-6 medium-6"> 
	<p>&copy; Copyright - TSI - 2016</p>
	</div>
</footer>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/foundation.min.js' %}"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>